.help {
	position: relative;
}
.help__row {
	display: flex;
	justify-content: center;
}
.help__img {
	flex: 0 0 480px;
}
.help__img img {
	width: 100%;
	height: 100%;
	object-fit: none;
	object-position: center;
}
.help__body {
	padding: 100px 20px 40px 100px;
}
.help__title {
	font-size: 16px;
	line-height: 12px;
	letter-spacing: 0.06em;
	color: #22356f;
	margin-bottom: 225px;
	cursor: pointer;
}
.help__text {
	font-size: 36px;
	line-height: 53px;
	letter-spacing: -0.01em;
	color: #22356f;
	margin-bottom: 150px;
}
.help__note {
	display: inline;
	font-size: 16px;
	line-height: 23px;
	letter-spacing: 0.1em;
	color: #fab63e;
	position: relative;
	cursor: pointer;
}
.help__note:after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 0%;
	height: 2px;
	background-color: #fab63e;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.help__note:hover:after {
	width: 100%;
}
